.footer{
    display: inline-flex;
}

.create-new-user-btn, .back-user-btn{
    color: darkslateblue;
    background-color: lightblue;
    border: 1px solid darkslateblue;
    border-radius:5px;
    margin: 15px auto 20px;
}

.create-new-user-btn{

    margin-left: 40px;
}
.back-user-btn{
    margin-right: 40px;
}
